@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
    <head>
        <meta charset="utf-8" />

    </head>
    <body>
    <div class="ad1"></div>
    <div class="ad2"></div>

    </body>
</html>