@* @page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
} *@
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <div class="ad1"></div>
        <div class="ad2"></div>
        

    </body>
</html>